In [25]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [26]:
df = pd.read_csv('vendas_produto_alfa.csv')

df.head()

         data  vendas  dia_da_semana em_promocao feriado_nacional
0  2023-09-14    84.0   quinta-feira       False            False
1  2023-09-15   206.0    sexta-feira        True            False
2  2023-09-16   195.0            NaN        True            False
3  2023-09-17   279.0        domingo       False            False
4  2023-09-18    71.0  segunda-feira       False            False

In [27]:

def eliminate_nulls(dfr):
    dfr = dfr.dropna()
    return dfr

In [28]:

from json import encoder


def apply_one_hot_encoding(df, column_name):
    encoder = OneHotEncoder(
        sparse_output=False,
        drop=None,             
        handle_unknown='ignore' 
    )

    column_encoded = encoder.fit_transform(df[[column_name]])

    encoded_df = pd.DataFrame(
        column_encoded,
        columns=encoder.get_feature_names_out([column_name])
    )

    df_final = pd.concat([df.drop(column_name, axis=1), encoded_df], axis=1)
    print("Categorias encontradas:", encoder.categories_)
    return df_final 


def apply_label_encoding(df, column_name):
    
    encoder = LabelEncoder()
    encoded_values = encoder.fit_transform(df[column_name])
    df_final = df.copy()
    df_final[column_name] = encoded_values
    categories = encoder.classes_
    encoding_map = {category: code for code, category in enumerate(categories)}
    
    print(f"Coluna: {column_name}")
    print(f"Categorias encontradas: {len(categories)}")
    print("Mapeamento:")
    for category, code in encoding_map.items():
        print(f"  {category} â†’ {code}")
    
    return df_final, encoder, encoding_map

In [29]:
def apply_mapping(df, coluna, mapping):
    df[coluna] = df[coluna].map(mapping).fillna(df[coluna])
    return df

In [ ]:
zomap = {
    False:0,
    True:1
}

In [31]:
df = eliminate_nulls(df)
df = apply_one_hot_encoding(df, 'dia_da_semana')
df = apply_mapping(df, 'em_promocao', zomap)
df = apply_mapping(df, 'feriado_nacional', zomap)

Categorias encontradas: [array(['domingo', 'quarta-feira', 'quinta-feira', 'sabado',
       'segunda-feira', 'sexta-feira', 'terca-feira'], dtype=object)]

In [32]:
df.to_csv('vendas_produto_alfa_processadas.csv', index=False, encoding='utf-8')